html, body {
  width: 100% !important;
  height: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.logo {
  height: 12em;
  width: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:active {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.bar-container {
  width: 80%;
  max-width: 1000px; /* Optional: limit the max width of the bar */
  background-color: black; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  margin: 20px auto; /* Center align the container */
  overflow: hidden; /* Ensure no overflow */
  font-size: 12px;
}

.bar-fill {
  background: linear-gradient(to right, #726138, #e3ab16); /* Green color */
  height: 30px; /* Height of the bar */
  line-height: 30px; /* Align text vertically */
  text-align: center; /* Center text horizontally */
  color: white; /* Text color */
  border-radius: 5px 0 0 5px; /* Rounded corners on the left */
  transition: width 0.3s; /* Smooth transition effect */
}